In [3]:
import numpy as np
import pandas as pd

In [5]:
covid_df = pd.read_csv('C:/Users/dengd/Documents/GitHub/Flight_In_COVID19/WHO-COVID-19-global-data.csv')

In [6]:
covid_df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
267331,2023-01-30,ZW,Zimbabwe,AFRO,22,262324,0,5658
267332,2023-01-31,ZW,Zimbabwe,AFRO,0,262324,0,5658
267333,2023-02-01,ZW,Zimbabwe,AFRO,0,262324,0,5658
267334,2023-02-02,ZW,Zimbabwe,AFRO,0,262324,0,5658
267335,2023-02-03,ZW,Zimbabwe,AFRO,0,262324,0,5658

In [7]:
# drop irrelevant columns 
columns_to_drop = ['Country_code', 'WHO_region', 'Cumulative_cases', 'Cumulative_deaths']
covid_df.drop(columns_to_drop, axis=1, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267336 entries, 0 to 267335
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date_reported  267336 non-null  object
 1   Country        267336 non-null  object
 2   New_cases      267336 non-null  int64
 3   New_deaths     267336 non-null  int64
dtypes: int64(2), object(2)
memory usage: 8.2+ MB

In [11]:
# delete duplicated rows
covid_df.drop_duplicates(inplace = True)

In [12]:
# reset index
covid_df.reset_index(drop = True, inplace = True)

In [15]:
covid_df[['Date_reported']] = flight_df[['Date_reported']].apply(pd.to_datetime)

In [16]:
flight_df.to_csv("covid_cleaned.csv")