In [1]:
import numpy as np
import pandas as pd

In [2]:
flight_df = pd.read_csv('C:/Users/dengd/Documents/GitHub/Flight_In_COVID19/flight_df.csv')

In [3]:
flight_df

,Unnamed: 0,callsign,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2
0,0,N58,NaN,KCMH,2020-01-23 01:46:46+00:00,2020-01-23 02:54:16+00:00,2020-01-23 00:00:00+00:00,44.645086,-91.111428,39.991882,-82.877747
1,1,SWA,KATL,KPHL,2020-01-18 19:25:14+00:00,2020-01-18 20:43:28+00:00,2020-01-18 00:00:00+00:00,33.634876,-84.419403,39.859909,-75.280052
2,2,PBD,NaN,ULLI,2020-01-30 06:47:44+00:00,2020-01-30 07:59:58+00:00,2020-01-30 00:00:00+00:00,53.645961,37.029984,59.826795,30.036148
3,3,CES,ZGSZ,NaN,2020-01-24 11:25:47+00:00,2020-01-24 11:41:25+00:00,2020-01-24 00:00:00+00:00,22.608902,113.826399,23.772171,114.960581
4,4,TAP,LPPT,EIDW,2020-01-27 08:48:13+00:00,2020-01-27 11:11:52+00:00,2020-01-27 00:00:00+00:00,38.754181,-9.150656,53.419717,-6.240154
...,...,...,...,...,...,...,...,...,...,...,...
793793,793793,SFJ,RJTT,RJBB,2022-10-27 03:13:22+00:00,2022-10-27 04:12:45+00:00,2022-10-27 00:00:00+00:00,35.543378,139.829134,34.414440,135.185108
793794,793794,SKW,NaN,KATL,2022-10-20 22:39:05+00:00,2022-10-20 23:40:31+00:00,2022-10-20 00:00:00+00:00,32.481995,-92.345251,33.620259,-84.411163
793795,793795,RYR,NaN,LIPE,2022-10-06 18:21:46+00:00,2022-10-06 19:10:40+00:00,2022-10-06 00:00:00+00:00,39.825253,9.592407,44.549103,11.251112
793796,793796,EJA,NaN,KCXP,2022-10-08 16:39:00+00:00,2022-10-08 17:41:25+00:00,2022-10-08 00:00:00+00:00,41.213242,-110.641357,39.234512,-119.716585
793797,793797,SWA,KSFO,KPHX,2022-10-08 12:38:47+00:00,2022-10-08 14:09:07+00:00,2022-10-08 00:00:00+00:00,37.616867,-122.377001,33.428879,-112.015887

In [4]:
# change columns name
flight_df.rename(columns={'callsign':'airline_code','day':'date','firstseen':'dep_time','lastseen':'arr_time','latitude_1':'dep_lat','longitude_1':'dep_long','latitude_2':'arr_lat','longitude_2':'arr_long','origin':'org_airport','destination':'dst_airport'}, inplace=True )

In [5]:
cargo_top5 = ['CLX','FDX','GEC','GTI','UPS']

In [6]:
flight_df['cargo_airline'] = flight_df['airline_code'].isin(cargo_top5)

In [7]:
flight_df.head(3)

,Unnamed: 0,airline_code,org_airport,dst_airport,dep_time,arr_time,date,dep_lat,dep_long,arr_lat,arr_long,cargo_airline
0,0,N58,NaN,KCMH,2020-01-23 01:46:46+00:00,2020-01-23 02:54:16+00:00,2020-01-23 00:00:00+00:00,44.645086,-91.111428,39.991882,-82.877747,False
1,1,SWA,KATL,KPHL,2020-01-18 19:25:14+00:00,2020-01-18 20:43:28+00:00,2020-01-18 00:00:00+00:00,33.634876,-84.419403,39.859909,-75.280052,False
2,2,PBD,NaN,ULLI,2020-01-30 06:47:44+00:00,2020-01-30 07:59:58+00:00,2020-01-30 00:00:00+00:00,53.645961,37.029984,59.826795,30.036148,False

In [8]:
flight_df.info(null_counts = True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_7488\3011559432.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  flight_df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793798 entries, 0 to 793797
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     793798 non-null  int64
 1   airline_code   793798 non-null  object
 2   org_airport    607271 non-null  object
 3   dst_airport    658520 non-null  object
 4   dep_time       793798 non-null  object
 5   arr_time       793798 non-null  object
 6   date           793798 non-null  object
 7   dep_lat        793798 non-null  float64
 8   dep_long       793798 non-null  float64
 9   arr_lat        793780 non-null  float64
 10  arr_long       793780 non-null  float64
 11  cargo_airline  793798 non-null  bool
dtypes: bool(1), float64(4), int64(1), object(6)
memory usage: 67.4+ MB

In [9]:
# drop null-values
flight_df= flight_df.dropna()

In [10]:
# drop duplicated index column
flight_df.drop(columns=['Unnamed: 0'], inplace=True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_7488\681663553.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flight_df.drop(columns=['Unnamed: 0'], inplace=True)

In [11]:
# delete duplicated rows
flight_df.drop_duplicates(inplace = True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_7488\3890752966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flight_df.drop_duplicates(inplace = True)

In [12]:
# reset index
flight_df.reset_index(drop = True, inplace = True)

In [13]:
# rearrange columns
flight_df = flight_df[[
 'airline_code',
 'date',
 'dep_time',
 'arr_time',
 'dep_lat',
 'dep_long',
 'arr_lat',
 'arr_long',
 'cargo_airline',
 'org_airport',
 'dst_airport'   
]]

In [14]:
flight_df.info(null_counts = True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_7488\3011559432.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  flight_df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507488 entries, 0 to 507487
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   airline_code   507488 non-null  object
 1   date           507488 non-null  object
 2   dep_time       507488 non-null  object
 3   arr_time       507488 non-null  object
 4   dep_lat        507488 non-null  float64
 5   dep_long       507488 non-null  float64
 6   arr_lat        507488 non-null  float64
 7   arr_long       507488 non-null  float64
 8   cargo_airline  507488 non-null  bool
 9   org_airport    507488 non-null  object
 10  dst_airport    507488 non-null  object
dtypes: bool(1), float64(4), object(6)
memory usage: 39.2+ MB

In [15]:
flight_df[['dep_time', 'arr_time','date']] = flight_df[['dep_time', 'arr_time','date']].apply(pd.to_datetime)
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507488 entries, 0 to 507487
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   airline_code   507488 non-null  object
 1   date           507488 non-null  datetime64[ns, UTC]
 2   dep_time       507488 non-null  datetime64[ns, UTC]
 3   arr_time       507488 non-null  datetime64[ns, UTC]
 4   dep_lat        507488 non-null  float64
 5   dep_long       507488 non-null  float64
 6   arr_lat        507488 non-null  float64
 7   arr_long       507488 non-null  float64
 8   cargo_airline  507488 non-null  bool
 9   org_airport    507488 non-null  object
 10  dst_airport    507488 non-null  object
dtypes: bool(1), datetime64[ns, UTC](3), float64(4), object(3)
memory usage: 39.2+ MB

In [16]:
flight_df.to_csv("flight_cleaned.csv")