In [1]:
import numpy as np
import pandas as pd

In [2]:
flight_df = pd.read_csv('D:/Germany/data analysis/Ironhack/midterm_project/flight_df.csv')

In [3]:
flight_df

,Unnamed: 0,callsign,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2
0,0,SIA,EGLL,WSSS,2020-01-11 11:09:45+00:00,2020-01-11 23:14:21+00:00,2020-01-11 00:00:00+00:00,51.464859,-0.468849,1.323074,103.966509
1,1,N87,KCLW,KCLW,2020-01-23 20:24:46+00:00,2020-01-23 21:31:40+00:00,2020-01-23 00:00:00+00:00,27.974808,-82.757897,27.983574,-82.762541
2,2,N42,KE25,AZ05,2020-01-31 00:10:22+00:00,2020-01-31 00:35:21+00:00,2020-01-31 00:00:00+00:00,33.910326,-112.797318,33.117634,-112.688337
3,3,ANA,NaN,RJTT,2020-01-10 06:47:47+00:00,2020-01-10 07:05:52+00:00,2020-01-10 00:00:00+00:00,36.252090,140.251179,35.487981,139.841815
4,4,FDX,KSAN,KOAK,2020-01-08 04:24:35+00:00,2020-01-08 05:31:16+00:00,2020-01-08 00:00:00+00:00,32.735906,-117.199402,37.707642,-122.223485
...,...,...,...,...,...,...,...,...,...,...,...
79372,79372,N91,KBUU,WI86,2022-10-25 00:03:03+00:00,2022-10-25 00:54:21+00:00,2022-10-25 00:00:00+00:00,42.672958,-88.227456,42.681061,-88.178454
79373,79373,AAL,NaN,KPHX,2022-10-25 19:30:33+00:00,2022-10-25 20:30:40+00:00,2022-10-25 00:00:00+00:00,27.238459,-110.526898,33.428833,-112.006274
79374,79374,PDT,KROA,KUZA,2022-10-24 18:52:30+00:00,2022-10-24 19:34:23+00:00,2022-10-24 00:00:00+00:00,37.325729,-79.978891,35.046154,-80.937767
79375,79375,FAN,KRND,KRND,2022-10-13 20:06:16+00:00,2022-10-13 21:29:50+00:00,2022-10-13 00:00:00+00:00,29.519211,-98.282899,29.511745,-98.277875
79376,79376,UPS,LA41,KSDF,2022-10-26 02:21:16+00:00,2022-10-26 03:47:04+00:00,2022-10-26 00:00:00+00:00,30.337280,-91.966122,38.209611,-85.756232

In [4]:
# change columns name
flight_df.rename(columns={'callsign':'airline_code','day':'date','firstseen':'dep_time','lastseen':'arr_time','latitude_1':'dep_lat','longitude_1':'dep_long','latitude_2':'arr_lat','longitude_2':'arr_long','origin':'org_airport','destination':'dst_airport'}, inplace=True )

In [5]:
cargo_top5 = ['CLX','FDX','GEC','GTI','UPS']

In [6]:
flight_df['cargo_airline'] = flight_df['airline_code'].isin(cargo_top5)

In [7]:
flight_df.head(3)

,Unnamed: 0,airline_code,org_airport,dst_airport,dep_time,arr_time,date,dep_lat,dep_long,arr_lat,arr_long,cargo_airline
0,0,SIA,EGLL,WSSS,2020-01-11 11:09:45+00:00,2020-01-11 23:14:21+00:00,2020-01-11 00:00:00+00:00,51.464859,-0.468849,1.323074,103.966509,False
1,1,N87,KCLW,KCLW,2020-01-23 20:24:46+00:00,2020-01-23 21:31:40+00:00,2020-01-23 00:00:00+00:00,27.974808,-82.757897,27.983574,-82.762541,False
2,2,N42,KE25,AZ05,2020-01-31 00:10:22+00:00,2020-01-31 00:35:21+00:00,2020-01-31 00:00:00+00:00,33.910326,-112.797318,33.117634,-112.688337,False

In [8]:
flight_df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79377 entries, 0 to 79376
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     79377 non-null  int64
 1   airline_code   79377 non-null  object
 2   org_airport    60971 non-null  object
 3   dst_airport    66120 non-null  object
 4   dep_time       79377 non-null  object
 5   arr_time       79377 non-null  object
 6   date           79377 non-null  object
 7   dep_lat        79377 non-null  float64
 8   dep_long       79377 non-null  float64
 9   arr_lat        79374 non-null  float64
 10  arr_long       79374 non-null  float64
 11  cargo_airline  79377 non-null  bool
dtypes: bool(1), float64(4), int64(1), object(6)
memory usage: 6.7+ MB

C:\Users\dengd\AppData\Local\Temp\ipykernel_2520\3011559432.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  flight_df.info(null_counts = True)

In [9]:
# drop null-values
flight_df= flight_df.dropna()

In [10]:
# drop duplicated index column
flight_df.drop(columns=['Unnamed: 0'], inplace=True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_2520\681663553.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flight_df.drop(columns=['Unnamed: 0'], inplace=True)

In [11]:
# delete duplicated rows
flight_df.drop_duplicates(inplace = True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_2520\3890752966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flight_df.drop_duplicates(inplace = True)

In [12]:
# reset index
flight_df.reset_index(drop = True, inplace = True)

In [13]:
# rearrange columns
flight_df = flight_df[[
 'airline_code',
 'date',
 'dep_time',
 'arr_time',
 'dep_lat',
 'dep_long',
 'arr_lat',
 'arr_long',
 'cargo_airline',
 'org_airport',
 'dst_airport'   
]]

In [14]:
flight_df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51159 entries, 0 to 51158
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   airline_code   51159 non-null  object
 1   date           51159 non-null  object
 2   dep_time       51159 non-null  object
 3   arr_time       51159 non-null  object
 4   dep_lat        51159 non-null  float64
 5   dep_long       51159 non-null  float64
 6   arr_lat        51159 non-null  float64
 7   arr_long       51159 non-null  float64
 8   cargo_airline  51159 non-null  bool
 9   org_airport    51159 non-null  object
 10  dst_airport    51159 non-null  object
dtypes: bool(1), float64(4), object(6)
memory usage: 4.0+ MB

C:\Users\dengd\AppData\Local\Temp\ipykernel_2520\3011559432.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  flight_df.info(null_counts = True)

In [15]:
flight_df[['dep_time', 'arr_time','date']] = flight_df[['dep_time', 'arr_time','date']].apply(pd.to_datetime)

In [16]:
flight_df.to_csv("flight_cleaned.csv")