In [1]:
import numpy as np
import pandas as pd

In [2]:
flight_df = pd.read_csv('D:/Germany/data analysis/Ironhack/midterm_project/flight_df.csv')

In [3]:
flight_df

,Unnamed: 0,callsign,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2
0,0,ETH,2019-10-31 02:48:06+00:00,2019-11-01 06:49:44+00:00,2019-11-01 00:00:00+00:00,40.603607,-73.799286,1.320035,103.981334
1,1,THY,2019-10-31 03:20:58+00:00,2019-11-01 02:51:42+00:00,2019-11-01 00:00:00+00:00,41.761734,29.004530,41.130524,28.709961
2,2,GTI,2019-10-31 04:39:52+00:00,2019-11-01 01:52:55+00:00,2019-11-01 00:00:00+00:00,38.257933,-121.936480,35.385985,139.423750
3,3,QTR,2019-10-31 06:13:07+00:00,2019-11-01 01:09:51+00:00,2019-11-01 00:00:00+00:00,25.287827,51.612629,25.262558,51.623637
4,4,UAE,2019-10-31 07:06:52+00:00,2019-11-01 00:37:27+00:00,2019-11-01 00:00:00+00:00,25.252308,55.364072,25.255380,55.350663
...,...,...,...,...,...,...,...,...,...
9106641,9106641,UAE,2022-10-31 23:27:04+00:00,2022-10-31 23:43:43+00:00,2022-10-31 00:00:00+00:00,25.252533,55.372264,25.044592,56.956908
9106642,9106642,UAE,2022-10-31 23:30:24+00:00,2022-10-31 23:46:54+00:00,2022-10-31 00:00:00+00:00,25.253239,55.370938,26.784296,55.933721
9106643,9106643,UAL,2022-10-31 23:34:52+00:00,2022-10-31 23:57:11+00:00,2022-10-31 00:00:00+00:00,38.808599,-104.685791,39.870269,-104.660095
9106644,9106644,AAL,2022-10-31 23:38:41+00:00,2022-10-31 23:57:56+00:00,2022-10-31 00:00:00+00:00,35.118439,-80.935719,33.380329,-80.260508
9106645,9106645,UAE,2022-10-31 23:42:58+00:00,2022-10-31 23:59:56+00:00,2022-10-31 00:00:00+00:00,25.252441,55.372416,26.844115,55.992561

In [4]:
# change columns name
flight_df['airline_code']= flight_df['callsign']
flight_df['date']= flight_df['day']
flight_df['dep_time']= flight_df['firstseen']
flight_df['arr_time']= flight_df['lastseen']
flight_df['dep_lat']= flight_df['latitude_1']
flight_df['dep_long']= flight_df['longitude_1']
flight_df['arr_lat']= flight_df['latitude_2']
flight_df['arr_long']= flight_df['longitude_2']

In [5]:
cargo_top5 = ['CLX','FDX','GEC','GTI','UPS']

In [6]:
flight_df['cargo_airline'] = flight_df['callsign'].isin(cargo_top5)

In [7]:
flight_df.head(3)

,Unnamed: 0,callsign,firstseen,lastseen,day,latitude_1,longitude_1,latitude_2,longitude_2,airline_code,date,dep_time,arr_time,dep_lat,dep_long,arr_lat,arr_long,cargo_airline
0,0,ETH,2019-10-31 02:48:06+00:00,2019-11-01 06:49:44+00:00,2019-11-01 00:00:00+00:00,40.603607,-73.799286,1.320035,103.981334,ETH,2019-11-01 00:00:00+00:00,2019-10-31 02:48:06+00:00,2019-11-01 06:49:44+00:00,40.603607,-73.799286,1.320035,103.981334,False
1,1,THY,2019-10-31 03:20:58+00:00,2019-11-01 02:51:42+00:00,2019-11-01 00:00:00+00:00,41.761734,29.004530,41.130524,28.709961,THY,2019-11-01 00:00:00+00:00,2019-10-31 03:20:58+00:00,2019-11-01 02:51:42+00:00,41.761734,29.004530,41.130524,28.709961,False
2,2,GTI,2019-10-31 04:39:52+00:00,2019-11-01 01:52:55+00:00,2019-11-01 00:00:00+00:00,38.257933,-121.936480,35.385985,139.423750,GTI,2019-11-01 00:00:00+00:00,2019-10-31 04:39:52+00:00,2019-11-01 01:52:55+00:00,38.257933,-121.936480,35.385985,139.423750,True

In [8]:
flight_df.info(null_counts = True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_9728\3011559432.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  flight_df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9106646 entries, 0 to 9106645
Data columns (total 18 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Unnamed: 0     9106646 non-null  int64
 1   callsign       9106646 non-null  object
 2   firstseen      9106646 non-null  object
 3   lastseen       9106646 non-null  object
 4   day            9106646 non-null  object
 5   latitude_1     9106646 non-null  float64
 6   longitude_1    9106646 non-null  float64
 7   latitude_2     9106554 non-null  float64
 8   longitude_2    9106554 non-null  float64
 9   airline_code   9106646 non-null  object
 10  date           9106646 non-null  object
 11  dep_time       9106646 non-null  object
 12  arr_time       9106646 non-null  object
 13  dep_lat        9106646 non-null  float64
 14  dep_long       9106646 non-null  float64
 15  arr_lat        9106554 non-null  float64
 16  arr_long       9106554 non-null  float64
 17  cargo_airline  9106646 non-null  bool
dtypes: bool(1), float64(8), int64(1), object(8)
memory usage: 1.2+ GB

In [9]:
# drop null-values
flight_df= flight_df.dropna()

In [10]:
# drop duplicated index column
flight_df.drop(columns=['Unnamed: 0'], inplace=True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_9728\681663553.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flight_df.drop(columns=['Unnamed: 0'], inplace=True)

In [11]:
# delete duplicated rows
flight_df.drop_duplicates(inplace = True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_9728\3890752966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flight_df.drop_duplicates(inplace = True)

In [12]:
# reset index
flight_df.reset_index(drop = True, inplace = True)

In [13]:
# rearrange columns
flight_df = flight_df[[
 'airline_code',
 'date',
 'dep_time',
 'arr_time',
 'dep_lat',
 'dep_long',
 'arr_lat',
 'arr_long'
]]

In [14]:
flight_df.info(null_counts = True)

C:\Users\dengd\AppData\Local\Temp\ipykernel_9728\3011559432.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  flight_df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9106553 entries, 0 to 9106552
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   airline_code  9106553 non-null  object
 1   date          9106553 non-null  object
 2   dep_time      9106553 non-null  object
 3   arr_time      9106553 non-null  object
 4   dep_lat       9106553 non-null  float64
 5   dep_long      9106553 non-null  float64
 6   arr_lat       9106553 non-null  float64
 7   arr_long      9106553 non-null  float64
dtypes: float64(4), object(4)
memory usage: 555.8+ MB

In [15]:
flight_df[['dep_time', 'arr_time','date']] = flight_df[['dep_time', 'arr_time','date']].apply(pd.to_datetime)

In [16]:
flight_df.to_csv("flight_cleaned.csv")