In [1]:
import numpy as np
import pandas as pd

In [3]:
code_df = pd.read_csv('data/airline_code.csv')

In [4]:
code_df

     ICAO                                        Airline Country/Region
0     BOI                                            2GO    Philippines
1     EVY        34 Squadron, Royal Australian Air Force            NaN
2     GNL                                    135 Airways  United States
3     NaN                          Amadeus IT Group S.A.         Global
4     NaN  Sabre travel network Asia-Pacific (ex-Abacus)           APAC
...   ...                                            ...            ...
6281  CYN                             Zhongyuan Aviation          China
6282  WZP                                            Zip         Canada
6283  TZP                                   Zipair Tokyo          Japan
6284  OOM                                  Zoom Airlines         Canada
6285  ORZ                                          Zorex          Spain

[6286 rows x 3 columns]

In [6]:
code_df.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6286 entries, 0 to 6285
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ICAO            6178 non-null   object
 1   Airline         6285 non-null   object
 2   Country/Region  6270 non-null   object
dtypes: object(3)
memory usage: 147.5+ KB

In [7]:
# drop null-values
code_df = code_df.dropna()

In [8]:
code_df.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6166 entries, 0 to 6285
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ICAO            6166 non-null   object
 1   Airline         6166 non-null   object
 2   Country/Region  6166 non-null   object
dtypes: object(3)
memory usage: 192.7+ KB

In [9]:
# delete duplicated rows
code_df.drop_duplicates(inplace = True)

/var/folders/bw/0thxs7yn1z3blkjjv4d_d27w0000gn/T/ipykernel_24725/3456228428.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code_df.drop_duplicates(inplace = True)

In [10]:
code_df.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6144 entries, 0 to 6284
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ICAO            6144 non-null   object
 1   Airline         6144 non-null   object
 2   Country/Region  6144 non-null   object
dtypes: object(3)
memory usage: 192.0+ KB

In [12]:
# reset index
flight_df.reset_index(drop = True, inplace = True)

In [13]:
# rearrange columns
flight_df = flight_df[[
 'airline_code',
 'date',
 'dep_time',
 'arr_time',
 'dep_lat',
 'dep_long',
 'arr_lat',
 'arr_long',
 'cargo_airline',
 'org_airport',
 'dst_airport'   
]]

In [14]:
flight_df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51159 entries, 0 to 51158
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   airline_code   51159 non-null  object
 1   date           51159 non-null  object
 2   dep_time       51159 non-null  object
 3   arr_time       51159 non-null  object
 4   dep_lat        51159 non-null  float64
 5   dep_long       51159 non-null  float64
 6   arr_lat        51159 non-null  float64
 7   arr_long       51159 non-null  float64
 8   cargo_airline  51159 non-null  bool
 9   org_airport    51159 non-null  object
 10  dst_airport    51159 non-null  object
dtypes: bool(1), float64(4), object(6)
memory usage: 4.0+ MB

C:\Users\dengd\AppData\Local\Temp\ipykernel_2520\3011559432.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  flight_df.info(null_counts = True)

In [15]:
flight_df[['dep_time', 'arr_time','date']] = flight_df[['dep_time', 'arr_time','date']].apply(pd.to_datetime)

In [16]:
flight_df.to_csv("flight_cleaned.csv")