In [1]:
import numpy as np
import pandas as pd

In [2]:
flight_df_1 = pd.read_csv('C:/Users/dengd/Documents/GitHub/Flight_In_COVID19/flight_df_1.csv')

In [3]:
flight_df_1

,Unnamed: 0,callsign,firstseen,lastseen,day,origin,destination,latitude_1,longitude_1,latitude_2,longitude_2
0,0,RPA,2020-01-09 21:17:46+00:00,2020-01-09 21:58:14+00:00,2020-01-09 00:00:00+00:00,KBOS,KLGA,42.369186,-71.011380,40.775173,-73.879135
1,1,EZY,2020-01-04 14:23:33+00:00,2020-01-04 17:00:18+00:00,2020-01-04 00:00:00+00:00,EGAA,LPFR,54.638535,-6.261076,37.016850,-7.983060
2,2,UPS,2020-01-29 02:31:47+00:00,2020-01-29 03:19:29+00:00,2020-01-29 00:00:00+00:00,KCLE,KSDF,41.395321,-81.873375,38.140869,-85.733506
3,3,JBU,2020-01-08 14:50:16+00:00,2020-01-08 17:52:29+00:00,2020-01-08 00:00:00+00:00,KBOS,KFLL,42.354996,-71.017373,26.077074,-80.196128
4,4,EJU,2020-01-31 20:11:04+00:00,2020-01-31 22:28:03+00:00,2020-01-31 00:00:00+00:00,LPPT,LIMC,38.754086,-9.150391,45.614639,8.737748
...,...,...,...,...,...,...,...,...,...,...,...
317158,317158,ITY,2022-10-04 11:50:33+00:00,2022-10-04 12:39:47+00:00,2022-10-04 00:00:00+00:00,LIRF,LIML,41.798184,12.227783,45.434326,9.278281
317159,317159,BRX,2022-10-10 08:29:34+00:00,2022-10-10 09:25:50+00:00,2022-10-10 00:00:00+00:00,ESTA,ESSB,56.257690,12.925665,59.358758,17.929498
317160,317160,DAL,2022-10-06 16:18:34+00:00,2022-10-06 17:47:26+00:00,2022-10-06 00:00:00+00:00,KMKE,KATL,42.951934,-87.893960,33.649567,-84.402073
317161,317161,KLM,2022-10-16 05:02:22+00:00,2022-10-16 05:27:29+00:00,2022-10-16 00:00:00+00:00,EHAM,EDDL,52.308608,4.778974,51.287764,6.769104
317162,317162,VOI,2022-10-08 18:48:25+00:00,2022-10-08 21:50:58+00:00,2022-10-08 00:00:00+00:00,MMMX,MMTJ,19.459953,-99.032010,32.501283,-116.844084

In [4]:
# change columns name
flight_df_1.rename(columns={'callsign':'airline_code','day':'date','firstseen':'dep_time','lastseen':'arr_time','latitude_1':'dep_lat','longitude_1':'dep_long','latitude_2':'arr_lat','longitude_2':'arr_long','origin':'org_airport','destination':'dst_airport'}, inplace=True )

In [5]:
cargo_top5 = ['CLX','FDX','GEC','GTI','UPS']

In [6]:
flight_df_1['cargo_airline'] = flight_df_1['airline_code'].isin(cargo_top5)

In [7]:
flight_df_1.head(3)

,Unnamed: 0,airline_code,dep_time,arr_time,date,org_airport,dst_airport,dep_lat,dep_long,arr_lat,arr_long,cargo_airline
0,0,RPA,2020-01-09 21:17:46+00:00,2020-01-09 21:58:14+00:00,2020-01-09 00:00:00+00:00,KBOS,KLGA,42.369186,-71.011380,40.775173,-73.879135,False
1,1,EZY,2020-01-04 14:23:33+00:00,2020-01-04 17:00:18+00:00,2020-01-04 00:00:00+00:00,EGAA,LPFR,54.638535,-6.261076,37.016850,-7.983060,False
2,2,UPS,2020-01-29 02:31:47+00:00,2020-01-29 03:19:29+00:00,2020-01-29 00:00:00+00:00,KCLE,KSDF,41.395321,-81.873375,38.140869,-85.733506,True

In [8]:
flight_df_1.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317163 entries, 0 to 317162
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     317163 non-null  int64
 1   airline_code   317163 non-null  object
 2   dep_time       317163 non-null  object
 3   arr_time       317163 non-null  object
 4   date           317163 non-null  object
 5   org_airport    317163 non-null  object
 6   dst_airport    317163 non-null  object
 7   dep_lat        317163 non-null  float64
 8   dep_long       317163 non-null  float64
 9   arr_lat        317163 non-null  float64
 10  arr_long       317163 non-null  float64
 11  cargo_airline  317163 non-null  bool
dtypes: bool(1), float64(4), int64(1), object(6)
memory usage: 26.9+ MB

C:\Users\dengd\AppData\Local\Temp\ipykernel_5104\2744251953.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  flight_df_1.info(null_counts = True)

In [9]:
# drop null-values
flight_df_1= flight_df_1.dropna()

In [10]:
flight_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317163 entries, 0 to 317162
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     317163 non-null  int64
 1   airline_code   317163 non-null  object
 2   dep_time       317163 non-null  object
 3   arr_time       317163 non-null  object
 4   date           317163 non-null  object
 5   org_airport    317163 non-null  object
 6   dst_airport    317163 non-null  object
 7   dep_lat        317163 non-null  float64
 8   dep_long       317163 non-null  float64
 9   arr_lat        317163 non-null  float64
 10  arr_long       317163 non-null  float64
 11  cargo_airline  317163 non-null  bool
dtypes: bool(1), float64(4), int64(1), object(6)
memory usage: 26.9+ MB

In [11]:
# delete duplicated rows
flight_df_1.drop_duplicates(inplace = True)

In [12]:
flight_df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317163 entries, 0 to 317162
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     317163 non-null  int64
 1   airline_code   317163 non-null  object
 2   dep_time       317163 non-null  object
 3   arr_time       317163 non-null  object
 4   date           317163 non-null  object
 5   org_airport    317163 non-null  object
 6   dst_airport    317163 non-null  object
 7   dep_lat        317163 non-null  float64
 8   dep_long       317163 non-null  float64
 9   arr_lat        317163 non-null  float64
 10  arr_long       317163 non-null  float64
 11  cargo_airline  317163 non-null  bool
dtypes: bool(1), float64(4), int64(1), object(6)
memory usage: 29.3+ MB

In [13]:
# reset index
flight_df_1.reset_index(drop = True, inplace = True)

In [14]:
# rearrange columns
flight_df_1 = flight_df_1[[
 'airline_code',
 'date',
 'dep_time',
 'arr_time',
 'dep_lat',
 'dep_long',
 'arr_lat',
 'arr_long',
 'cargo_airline',
 'org_airport',
 'dst_airport'   
]]

In [15]:
flight_df_1.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317163 entries, 0 to 317162
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   airline_code   317163 non-null  object
 1   date           317163 non-null  object
 2   dep_time       317163 non-null  object
 3   arr_time       317163 non-null  object
 4   dep_lat        317163 non-null  float64
 5   dep_long       317163 non-null  float64
 6   arr_lat        317163 non-null  float64
 7   arr_long       317163 non-null  float64
 8   cargo_airline  317163 non-null  bool
 9   org_airport    317163 non-null  object
 10  dst_airport    317163 non-null  object
dtypes: bool(1), float64(4), object(6)
memory usage: 24.5+ MB

C:\Users\dengd\AppData\Local\Temp\ipykernel_5104\2744251953.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  flight_df_1.info(null_counts = True)

In [16]:
flight_df_1[['dep_time', 'arr_time','date']] = flight_df_1[['dep_time', 'arr_time','date']].apply(pd.to_datetime)

In [17]:
flight_df_1.to_csv("flight_cleaned_1.csv")