In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# Define the directory where the datasets are stored
directory = 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract'

# Get the list of all csv files in the directory
files = []
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        files.append(os.path.join(directory, filename))

In [3]:
files

['D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200101_20200131.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200201_20200229.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200301_20200331.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200401_20200430.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200501_20200531.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200601_20200630.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200701_20200731.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200801_20200831.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200901_20200930.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20201001_20201031.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20201101_20201130.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20201201_20201231.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210101_20210131.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210201_20210228.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210301_20210331.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210401_20210430.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210501_20210530.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210601_20210630.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210701_20210731.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210801_20210831.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210901_20210930.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20211001_20211031.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20211101_20211130.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20211201_20211231.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220101_20220131.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220201_20220228.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220301_20220331.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220401_20220430.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220501_20220530.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220601_20220630.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220701_20220731.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220801_20220830.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220901_20220930.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20221001_20221031.csv']

In [4]:
# Load the df 'airline_code'
airline_code = pd.read_csv('C:/Users/dengd/Documents/GitHub/Flight_In_COVID19/airline_code.csv')

In [5]:
# Create a dictionary to store the dataframes
dataframes = {}
for file in files:
    df = pd.read_csv(file)
    # Select only the columns of interest
    df = df[['callsign', 'firstseen', 'lastseen', 'day', 'origin', 'destination', 'latitude_1', 'longitude_1', 'latitude_2', 'longitude_2']]
    # Extract the first three characters from each callsign
    df['callsign'] = df['callsign'].str[:3]
    # Remove any rows with missing values
    df = df.dropna()
    # Remove rows where the callsign is not in the ICAO column of the airline_code DataFrame
    df = df[df['callsign'].isin(airline_code['ICAO'])]
    # Sample 0.1% of the data from each dataframe
    df = df.sample(frac=0.01,random_state =0)
    # Add the dataframe to the dictionary using the filename as key
    dataframes[os.path.basename(file)] = df

In [6]:
# Concatenate the dataframes in the dictionary into one large dataframe
flight_concat = pd.concat(dataframes.values(), ignore_index=True)

In [7]:
flight_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317163 entries, 0 to 317162
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   callsign     317163 non-null  object
 1   firstseen    317163 non-null  object
 2   lastseen     317163 non-null  object
 3   day          317163 non-null  object
 4   origin       317163 non-null  object
 5   destination  317163 non-null  object
 6   latitude_1   317163 non-null  float64
 7   longitude_1  317163 non-null  float64
 8   latitude_2   317163 non-null  float64
 9   longitude_2  317163 non-null  float64
dtypes: float64(4), object(6)
memory usage: 24.2+ MB

In [9]:
flight_concat.head(3)

,callsign,firstseen,lastseen,day,origin,destination,latitude_1,longitude_1,latitude_2,longitude_2
0,RPA,2020-01-09 21:17:46+00:00,2020-01-09 21:58:14+00:00,2020-01-09 00:00:00+00:00,KBOS,KLGA,42.369186,-71.011380,40.775173,-73.879135
1,EZY,2020-01-04 14:23:33+00:00,2020-01-04 17:00:18+00:00,2020-01-04 00:00:00+00:00,EGAA,LPFR,54.638535,-6.261076,37.016850,-7.983060
2,UPS,2020-01-29 02:31:47+00:00,2020-01-29 03:19:29+00:00,2020-01-29 00:00:00+00:00,KCLE,KSDF,41.395321,-81.873375,38.140869,-85.733506

In [10]:
flight_concat.to_csv("flight_df_1.csv")