In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# Define the directory where the datasets are stored
directory = 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract'

# Get the list of all csv files in the directory
files = []
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        files.append(os.path.join(directory, filename))

In [3]:
files

['D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200101_20200131.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200201_20200229.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200301_20200331.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200401_20200430.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200501_20200531.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200601_20200630.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200701_20200731.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200801_20200831.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20200901_20200930.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20201001_20201031.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20201101_20201130.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20201201_20201231.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210101_20210131.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210201_20210228.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210301_20210331.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210401_20210430.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210501_20210530.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210601_20210630.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210701_20210731.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210801_20210831.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20210901_20210930.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20211001_20211031.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20211101_20211130.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20211201_20211231.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220101_20220131.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220201_20220228.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220301_20220331.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220401_20220430.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220501_20220530.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220601_20220630.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220701_20220731.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220801_20220830.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20220901_20220930.csv',
 'D:/Germany/data analysis/Ironhack/course/dataset/flight/after extract\\flightlist_20221001_20221031.csv']

In [4]:
# Create a dictionary to store the dataframes
dataframes = {}
for file in files:
    df = pd.read_csv(file)
    # Sample 0.1% of the data from each dataframe
    df = df.sample(frac=0.01)
    # Add the dataframe to the dictionary using the filename as key
    dataframes[os.path.basename(file)] = df

In [5]:
# Concatenate the dataframes in the dictionary into one large dataframe
flight_concat = pd.concat(dataframes.values(), ignore_index=True)

In [6]:
flight_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793798 entries, 0 to 793797
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   callsign      793798 non-null  object
 1   number        198947 non-null  object
 2   icao24        793794 non-null  object
 3   registration  632504 non-null  object
 4   typecode      473326 non-null  object
 5   origin        607271 non-null  object
 6   destination   658520 non-null  object
 7   firstseen     793798 non-null  object
 8   lastseen      793798 non-null  object
 9   day           793798 non-null  object
 10  latitude_1    793798 non-null  float64
 11  longitude_1   793798 non-null  float64
 12  altitude_1    793798 non-null  float64
 13  latitude_2    793780 non-null  float64
 14  longitude_2   793780 non-null  float64
 15  altitude_2    782562 non-null  float64
dtypes: float64(6), object(10)
memory usage: 96.9+ MB

In [7]:
# drop irrelevant columns 
columns_to_drop = ['number', 'icao24', 'registration', 'typecode', 'altitude_1', 'altitude_2']
flight_concat.drop(columns_to_drop, axis=1, inplace=True)

In [8]:
# extract 3-letter code from every rows in callsign column
flight_concat['callsign'] = flight_concat['callsign'].str[:3]

In [9]:
flight_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793798 entries, 0 to 793797
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   callsign     793798 non-null  object
 1   origin       607271 non-null  object
 2   destination  658520 non-null  object
 3   firstseen    793798 non-null  object
 4   lastseen     793798 non-null  object
 5   day          793798 non-null  object
 6   latitude_1   793798 non-null  float64
 7   longitude_1  793798 non-null  float64
 8   latitude_2   793780 non-null  float64
 9   longitude_2  793780 non-null  float64
dtypes: float64(4), object(6)
memory usage: 60.6+ MB

In [10]:
flight_concat.to_csv("flight_df.csv")